@tailwind base;
@tailwind components;
@tailwind utilities;



:root{
  background-color: #1a1a1a;
  box-sizing: border-box;
  font-family: 'Cabin', sans-serif;
  color: #F2F2F2;
  overflow: hidden;
}
.info{
  font-family: 'Oxygen', sans-serif;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Prompt', sans-serif;
}
code{
font-family: 'Source Code Pro', monospace;
}